* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #aaa;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-flow: column wrap;
  background-color: #ccc;
  border: 1px solid #000;
  border-radius: 5%;
  padding: 1rem;
  margin-top: 1rem;
}

fieldset {
  padding: 1rem;
  border-radius: 5%;
}

legend {
  font-size: 2rem;
}

span {
  text-transform: uppercase;
  font-size: 0.8rem;
}

div {
  margin-bottom: 0.5rem;
}

input,
label,
select {
  font-size: 1.3rem;
  border: none;
  border-radius: 3px;
}

textarea {
  resize: none;
  height: 5rem;
  width: 100%;
  font-size: 1.3rem;
  border-radius: 3px;
}

#cadastrar {
  padding: 0.5rem;
  border-radius: 10%;
  background-color: transparent;
  border: 2px solid #000;
  cursor: pointer;
  font-weight: bold;
  transition: 0.5s;
}

#cadastrar:hover {
  background-color: #000;
  color: #fff;
}
